*{
    margin: 0;
    padding: 0;
}

.navbara{
    background-color: #131313;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 80px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo{
    font-size: 1.3rem;
    background-color: #ff1100;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(174, 177, 0));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}
.btn{
    color: #fff;
}
